.about {
  height: 80%;
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 40px;
}
h1.aboutme{
  margin-left: 70px;
}
.block-header{
  text-align: center;
}
.contact {
  text-align: center;
}
li {
  list-style-type: none;
}
#inputName{
  width: 100%;
}
#inputMessage{
  height: 100px;
}
img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 3%;
  
}
span.Collapsible__trigger.is-closed {
  font-size: larger;
  background-color: white;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  margin-left:100px;
  
}

.app-body{
  font-family: 'Raleway', sans-serif;

}
span.Collapsible__trigger.is-open{
 font-style: italic;
 background-color: white;
 border-radius: 10%;
 color: navy;
 font-weight: bold;
 margin-left:100px;
}

h3{
  margin-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.card {
  margin-top: 20px;
  max-height: 700px;
  overflow-y: auto;
  margin: auto;
}
h4{
  text-align: center;
  padding-bottom: 10px;
}
.paragraph {
  display: block;
  margin: auto;
}

.nav {
  background: linear-gradient(60deg, white, lightblue);
  height: 50px;
  box-shadow: 0px 0px 10px #000;
  font-size: 24px;
}

.container-fluid {
  background: linear-gradient(white, lightblue);
  padding-bottom: 20%;
}

.container-fluid-portfolio {
  background: linear-gradient(white, lightblue);
  padding-bottom: 70%;
}
