.about {
  height: 30%;
  width: 30%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.block-header{
  text-align: center;
}
.contact {
  text-align: center;
}
li {
  list-style-type: none;
}
img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 3%;
  
}
span.Collapsible__trigger.is-closed {
  font-size: larger;
}

.app-body{
  font-family: 'Raleway', sans-serif;

}
span.Collapsible__trigger.is-open{
 font-style: italic;
}


.card {
  margin-top: 20px;
  max-height: 700px;
  overflow-y: auto;
  margin: auto;
}
h4{
  text-align: center;
  padding-bottom: 10px;
}
.paragraph {
  display: block;
  margin: auto;
}

.nav {
  background: linear-gradient(60deg, white, lightblue);
  height: 50px;
  box-shadow: 0px 0px 10px #000;
  font-size: 24px;
}

.container-fluid {
  background: linear-gradient(white, lightblue);
  padding-bottom: 20%;
}

.container-fluid-portfolio {
  background: linear-gradient(white, lightblue);
  padding-bottom: 70%;
}
